@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

.container {
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto;
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}
